
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

body {
    background-color: #f0f0f0;
    color: #333;
    max-width: 50%;
}

main {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    display: grid;
    gap: 20px;
}
.card {
    background-color: #fff;
    padding-top: 0%;
    margin-top: 0%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


section.card {
    margin-top: 0%;
    padding-top: 0%;
    
}



h1 {
    font-size: larger;
}

h2 {
    font-size: medium;
    text-align: center;
}

h3 {
    background-color: #0077cc;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    margin-top: 0%;
    color: white;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
header {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(28, 67, 125);
    color: white;
}

header img {
    max-width: 100px;
    border-radius: 5%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

#currentYear {
    font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
}
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: rgb(37, 46, 61);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(232, 225, 225);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}